html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ysabeau Infant", sans-serif;
}
.container {
  display: flex;
  /* gap: 3rem; */
}
a {
  text-decoration: none;
}
.datePickerStyle {
  outline: none;
  padding: 17px 15px 19px;
  border: none;
  background: #edf2f7;
  margin-bottom: 30px;
  width: 100%;
  font-size: 1rem;
  color: rgb(119, 118, 118);
  border-radius: 0.5rem;
}
